.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1, p {
    color: white !important;
  }

  h1 {
    margin-bottom: 4rem !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 2.5rem !important;
    
  }

  p {
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 40px !important;
  }

  .bannerVideo {
    width: 100%;
  }

  .bannerHeader {
    position: absolute;
    width: 100%;
  }

  .gotoMapBtn {
    text-align: center;
    margin-top: 24px;
    padding: 12px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background: transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background: white;
      color: black;
    }
  }
}
