.Masonry {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 800px;
    overflow-x: auto;

    & > div {
        flex: 1 0 auto;
        margin: 0 60px 60px 0;
    }
}